<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="vi" xml:lang="vi">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Công ty cổ phần ILOTT" name="author" />
    <meta content="Công ty cổ phần ILOTT" name="copyright" />
    <meta content="Công ty cổ phần ILOTT" itemprop="sourceOrganization" name="source" />
    <meta content="info@hanoma.vn" name="EMail" />
    <meta property="article:publisher" content="https://www.facebook.com/Hanomavn-625827524461341/" />
    <meta property="article:author" content="https://www.facebook.com/Hanomavn-625827524461341/" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Expires" content="600" />
    <meta content="INDEX,FOLLOW,ALL" name="robots" />
    <meta content="1 day" name="revisit-after" />
    <meta content="General" name="document-rating" />
    <meta content="Global" name="document-distribution" />
    <meta content="Global" name="distribution" />
    <meta content="News" name="area" />
    <meta content="vietnam" name="placename" />
    <meta content="Document" name="resource-type" />
    <meta content="Vietnam" name="classification" />
    <meta content="All" name="rating" />
    <meta name="geo.placename" content="Ha Noi, Viet Nam" />
    <meta name="geo.region" content="VN-HN" />
    <meta name="geo.position" content="21.030624;105.782431" />
    <meta name="ICBM" content="21.030624, 105.782431" />
    <meta name="revisit-after" content="days" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="~/favicon.ico" />

    @*<script data-ad-client="ca-pub-6073495866575825" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>*@

    <!-- META FOR FACEBOOK -->
    <meta property="article:publisher" content="https://www.facebook.com/hanoma.vn/" />
    <meta property="article:author" content="https://www.facebook.com/hanoma.vn/" />
    <meta property="fb:pages" content="625827524461341" />
    <meta property="fb:app_id" content="1962758833770774" />
    <meta property="fb:admins" content="nncanh" />
    <meta property="og:site_name" content="HANOMA.VN - SÀN GIAO DỊCH THIẾT BỊ HẠNG NẶNG" />

    <!-- END META FOR FACEBOOK -->
    <!-- Twitter Card -->
    <meta name="twitter:card" value="summary">
    <meta name="twitter:site" content="Hanoma16">
    <meta name="twitter:creator" content="Hanoma16">
    <!-- End Twitter Card -->
    <!-- Bootstrap CSS -->
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/Assets/css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha256-ENFZrbVzylNbgnXx0n3I1g//2WeO47XxoPe0vkp3NC8=" crossorigin="anonymous" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72462334-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-72462334-3');
    </script>
    @RenderSection("metaTags", required: false)
    <link href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.114/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.114/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.114/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.114/js/cultures/kendo.culture.vi-VN.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js" async></script>
</head>
@{ 

}
<body id="body">
    <!-- Header -->
    @await Html.PartialAsync("_LayoutHeader.cshtml")

    <!-- Content -->
    <section class="content container p-0">
        @RenderBody()
    </section>

    <!-- footer -->
    @await Html.PartialAsync("_LayoutFooter.cshtml")

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @*<script src="~/Assets/js/jquery-3.3.1.min.js"></script>*@
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/swiper-bundle.min.js"></script>
    <script src="~/Assets/js/jquery.lazy.min.js"></script>
    <script src="~/Assets/js/select2.min.js"></script>
    <script src="~/Assets/js/navScript.js"></script>
    <script src="~/Assets/js/mmenu.js"></script>
    <script src="~/Assets/js/custom.js"></script>
    <script src="~/Assets/js/lottie-player.js"></script>
    @*<script src="~/Assets/js/jquery.twbsPagination.min.js"></script>*@
    <script src="~/Assets/jsController/HomeController.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha256-3blsJd4Hli/7wCQ+bmgXfOdK7p/ZUMtPXY08jmxSSgk=" crossorigin="anonymous"></script>

    <!-- Modal Login -->
   
  
            <div class="modal" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="popup" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="text-right mx-1">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="bg-white py-5 account mx-auto px-2">
                                <div class="header-box text-center ">
                                    <a href="/"><img src="~/Assets/images/LogoVQ.png" /></a>
                                    <h3 class="text-uppercase mt-1">ĐĂNG NHẬP</h3>
                                </div>
                                <div class="content-box  mx-auto text-left">
                                    <form id="login" class="" action="/tai-khoan">
                                        <div class="form-group">
                                            <label for="inputAddress">Số điện thoại:</label>
                                            <input type="text" pattern="\d*" maxlength="10" id="username" class="form-control" placeholder="Nhập số điện thoại của bạn">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress">Mật khẩu:</label>
                                            <input type="password" id="pwd" class="form-control">
                                        </div>
                                        <p class="text-right">@Html.ActionLink("Bạn quên mật khẩu?", "ForgotPassword", "Account", null, new { @class = "ajaxcall" })</p>

                                        <div class=" justify-content-center d-flex mt-5">
                                            <button type="submit" id="login_submit" class="btn btn-primary mb-2">Đăng nhập</button>
                                        </div>
                                        <p class="text-center">Bạn chưa có tài khoản? @Html.ActionLink("Đăng ký ngay", "Register", "Account", null, new { @class = "ajaxcall" })</p>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        

            <script type="text/javascript">
        $(document).ready(function () {

           if (@ViewData["showLogin"] == "1") {
                $("#login_modal").modal();
            }


            //$.ajax({
            //    url: "/Account/Login",
            //    type: "GET",
            //    success: function (response) {
            //        $('.modal-body').html(response);
            //    },
            //    error: function () {
            //        console.log('Set password Fail!!!');
            //    }
            //});
        });
        $('#login').on('submit', function (e) {
            e.preventDefault();
            var username = $("#username").val();
            var pwd = $("#pwd").val();
            if (jQuery.trim(username) == "") {
                toastr["error"]("Tài khoản không được nhập toàn bộ là khoảng trắng");
                return false;
            }
            if (jQuery.trim(pwd) == "") {
                toastr["error"]("Mật khẩu không được nhập toàn bộ là khoảng trắng");
                return false;
            }
            if (username == "") {
                toastr["error"]("Tài khoản không được để trống!");
                $("#username").focus();
                return;
            }
            if (pwd == "") {
                toastr["error"]("Mật khẩu không được để trống!");
                $("#pwd").focus();
                return;
            }
            var model = {
                "Email": $("#username").val(),
                "Password": $("#pwd").val()
            };
            $.ajax({
                url: "/Account/Login",
                type: "POST",
                data: JSON.stringify(model),
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    var result = JSON.parse(response);
                    if (result.ErrorCode == "00") {
                        $('#login_modal').modal('hide');
                        

                        window.location.href = '@ViewData["returnUrl"]';
                    }
                    else {
                        toastr["error"](result.Message);
                    }
                },
                error: function () {
                    console.log('Login Fail!!!');
                }
            });

        });
            </script>

    @*<script>
        setTimeout(load_js, 2500);
        function load_js() {
            // Get the head tag
            var head_ID = document.getElementsByTagName("head")[0];
            // Create script element       
            var script_element = document.createElement('script');
            // Set the script type to JavaScript
            script_element.type = 'text/javascript';
            // External JS file
            script_element.src = 'https://hanoma.vn/Assets/js/jquery-3.3.1.min.js';
            head_ID.appendChild(script_element);
        }
    </script>*@
</body>
</html>