@{
    var CategoryMenuHeader = ((HNM.DataNC.ModelsNC.ModelsDTO.ListProductCategoryDTO MenuMachine, HNM.DataNC.ModelsNC.ModelsDTO.ListProductCategoryDTO MenuMaterials, HNM.DataNC.ModelsNC.ModelsDTO.ListProductCategoryDTO MenuServices))ViewBag.CategoryMenuHeader;
}

    <div class="menu col-lg-2 d-lg-block d-none">
        <div class="card">
            <div class="card-header text-uppercase pl-2 show_menu">
                <h4 class="d-flex align-items-center"><img class="mr-2" src="~/Assets/images/category.png" />Danh Mục</h4>
            </div>
            <div class="card-body p-0" id="my-menu">
                <ul>
                    <li class="has-child">
                        <a href="/may-de-ban">Máy để bán</a>
                        <ul>
                            @foreach (var p in CategoryMenuHeader.MenuMachine.Data)
                            {
                                <li><a href=@($"ban-{p.URL}.pcat")>@p.Name</a></li>
                            }

                        </ul>
                    </li>
                    <li class="has-child">
                        <a href="/ban-phu-tung">Phụ Tùng</a>
                        <ul>
                            @foreach (var p in CategoryMenuHeader.MenuMachine.Data)
                            {
                                <li><a href=@($"ban-phu-tung-{p.URL}.pcat")>@p.Name</a></li>
                            }

                        </ul>
                    </li>
                    <li class="has-child">
                        <a href="/ban-vat-tu">Vật tư</a>
                        <ul>
                            @foreach (var p in CategoryMenuHeader.MenuMaterials.Data)
                            {
                                <li><a href=@($"ban-vat-tu-{p.URL}.pcat")>@p.Name</a></li>
                            }

                        </ul>
                    </li>
                    <li class="has-child">
                        <a href="/cho-thue-may">Máy cho thuê</a>
                        <ul>
                            @foreach (var p in CategoryMenuHeader.MenuMachine.Data)
                            {
                                <li><a href=@($"cho-thue-may-{p.URL}.pcat")>@p.Name</a></li>
                            }
                        </ul>
                    </li>
                    <li class="has-child">
                        <a href="/dich-vu">Dịch vụ</a>
                        <ul>
                            @foreach (var p in CategoryMenuHeader.MenuServices.Data)
                            {
                                <li><a href=@($"dich-vu-{p.URL}.pcat")>@p.Name</a></li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a href="/ho-so">Hồ sơ xin việc</a>
                    </li>
                    <li>
                        <a href="/viec-lam">Tin tuyển dụng</a>
                    </li>
                    <li class="has-child">
                        <a href="javascript:void(0)">Nhu cầu</a>
                        <ul>
                            <li><a href="/can-mua-thiet-bi">Cần mua thiết bị</a></li>
                            <li><a href="/can-mua-phu-tung">Cần mua phụ tùng</a></li>
                            <li><a href="/can-mua-vat-tu">Cần mua vật tư</a></li>
                            <li><a href="/can-thue-thiet-bi">Cần thuê thiết bị</a></li>
                            <li><a href="/can-thue-dich-vu">Cần thuê dịch vụ</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>