    <!-- Phụ Tùng -->
@model HNM.DataNC.ModelsNC.ModelsDTO.ProductPaggingDTO
@{
    var MenuMachine = (HNM.DataNC.ModelsNC.ModelsDTO.ListProductCategoryDTO)ViewBag.MenuMachine;
}
<article>
    <div class="article-header d-block d-lg-flex my-2">
        <div class="category-title text-uppercase px-2  align-items-center d-block d-lg-flex">
            <h3 class="title">Phụ Tùng</h3>
            <button class="navbar-toggler d-lg-none d-flex" type="button" data-toggle="collapse" data-target="#navbarNav-pt" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar navbar-expand-lg category-menu  pl-4  d-block d-lg-flex  align-items-center">

            <nav class="collapse" id="navbarNav-pt">
                @foreach (var p in MenuMachine.Data)
                {
                    <li class="nav-item ml-md-3"><a class="nav-link" href="@($"ban-phu-tung-{p.URL}.pcat")">@p.Name</a></li>
                }
                <li class="nav-item ml-md-3 last readtotoal"><a class="nav-link" href="/ban-phu-tung">Xem tất cả</a></li>
            </nav>

        </div>

    </div>
    <div class="article-banner d-flex">
        <div class="col-4 pr-0">
            <img class="lazyload" src="Assets/images/article-banner1.jpg" />
        </div>
        <div class="col-4 px-2">
            <img class="lazyload" src="Assets/images/article-banner3.jpg" />
        </div>
        <div class="col-4 pl-0">
            <img class="lazyload" src="Assets/images/article-banner2.jpg" />
        </div>
    </div>

    <div class="article-content p-2 mt-2 products-container swiper-container bg-white">
        <div class="swiper-wrapper">
            @foreach (var p in Model.Data)
            {
                <div class="swiper-slide">
                    <div class="card">
                        <a href="/@p.FullURL" class="d-flex flex-column">
                            <div class="image"><div class="img" style="background-image:url('@p.UrlImage') "></div></div>
                            <div class="card-body d-flex flex-column">
                                <h6 class="card-title">@p.Name</h6>
                                <div class="d-flex justify-content-between mt-1 mt-auto">
                                    <span class="d-flex address text-muted justify-content-start">@p.LocationName</span>
                                    <span class="d-flex time text-muted justify-content-end">@HNM.CommonNC.Utils.RenderTimeSince((DateTime)@p.LastEditDate)</span>
                                </div>
                                @if (p.Price > 0)
                                {
                                    <h4 class="price">@HNM.CommonNC.Utils.RenderPrice(p.Price) <span class="curency">đ</span></h4>
                                }
                                else
                                {
                                    <h4 class="price"> Liên hệ</h4>
                                }
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

</article>

<div class="line-seprate ">
    <div class="border-top border-bottom m-3 "></div>
</div>