@{ var Menu = (List<HNM.DataNC.ModelsNC.ModelsDTO.ListAllProductCategoryDTO>)ViewBag.ProductCategory; }

<div class=" container p-0">
    <div class="d-flex banner ">
        <div class="menu-home col-lg-3 col-md-4 d-none d-lg-block ">
            <div class="card">
                <div class="card-header text-uppercase pl-2">
                    <h4 class="d-flex align-items-center"><img class="mr-2" src="~/Assets/images/category.webp">Danh Mục</h4>

                </div>
                <!--original menu location-->
                <div class="card-body p-0 mm-spn--light mm-spn--navbar mm-spn--main" id="my-menu" data-mm-spn-title="Danh Mục">
                    <ul>
                        @foreach (var p in Menu)
                        {
                            <li class="has-child">
                                <a href=@($"ban-{p.Parent.URL}.pcat")>@p.Parent.Name</a>
                                <ul>
                                    @{
                                        if (p.Child.Count() > 0)
                                        {
                                            foreach (var x in p.Child)
                                            {
                                                <li><a href=@($"ban-{x.URL}.pcat")>@x.Name</a></li>
                                            }
                                        }

                                    }
                                </ul>
                            </li>
                        }                   
                    </ul>
                </div>
            </div>
        </div>
 

        <div class="col-lg-9 col-md-12 col-xs-12 row pr-0">
            <div class="col-lg-8 mb-3 pl-3 pr-0 pl-lg-0 pr-lg-2 ">
                <div class="banner-container swiper-container swiper-container-initialized swiper-container-horizontal">
                    <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition: all 0ms ease 0s;">
                        @foreach (var p in Model.Data)
                        {
                            <a class="swiper-slide" href="@p.URL"><img class="lazyload" src="@p.UrlImage" alt="@p.Title" /> </a>
                        }
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination paging-right swiper-pagination-fraction"><span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">6</span></div>
                    <div class="swiper-button-next swiper-button" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                    <div class="swiper-button-prev swiper-button swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-disabled="true"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
            <div class="col-lg-4 pr-0 pl-2 d-none d-lg-block">
                <div class="banner1">
                    <div class="card" style="height:168px;">
                        <a href="/" class="d-flex flex-column">
                            <div class="image"><div class="img" style="background-image: url('/Assets/images/banner/Frame 15.webp')"></div></div>
                        </a>
                    </div>
                </div>
                <div class="banner1 ">
                    <div class="card" style="height:168px;">
                        <a href="/" class="d-flex flex-column">
                            <div class="image"><div class="img" style="background-image: url('/Assets/images/banner/Frame 17.webp')"></div></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="article-banner d-flex ads-slider mx-0 pl-lg-0 pl-3 pr-0 swiper-container-initialized swiper-container-horizontal swiper-container-free-mode">
                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                    <div class="swiper-slide swiper-slide-active" style="width: 267px; margin-right: 17.5px;">
                        <div class="card" style="height:168px;">
                            <a href="/" class="d-flex flex-column">
                                <div class="image"><div class="img" style="background-image: url('/Assets/images/banner/Frame 18.webp') "></div></div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-next" style="width: 267px; margin-right: 17.5px;">
                        <div class="card" style="height:168px;">
                            <a href="/" class="d-flex flex-column">
                                <div class="image"><div class="img" style="background-image: url('/Assets/images/banner/Frame 16.webp') "></div></div>
                            </a>
                        </div>

                    </div>
                    <div class="swiper-slide" style="width: 268.333px; margin-right: 17.5px;">
                        <div class="card" style="height:168px;">
                            <a href="/" class="d-flex flex-column">
                                <div class="image"><div class="img" style="background-image: url('/Assets/images/banner/Frame 19.webp') "></div></div>
                            </a>
                        </div>

                    </div>
                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
    </div>
</div>