
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@*@using X.PagedList.Mvc.Core;
    @using X.PagedList;
    @using X.PagedList.Mvc.Common;*@


@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;

@model HNM.DataNC.ModelsNC.ModelsDTO.ProductPaggingDTO

@{
    var SearchString = (string)ViewBag.SearchString;
    var TypeSearch = (int)ViewBag.TypeSearch;
    var pageCurrent = (int)ViewBag.PageCurrent;
    var pageSize = (int)ViewBag.PageSize;
    var ProductPaging = (X.PagedList.IPagedList<HNM.DataNC.ModelsNC.ModelsDTO.ProductSearchResultDTO>)ViewBag.ProductPaging;
}
@if (Model.TotalRecord > 0)
{
    <div class="article-content pt-2 px-1 bg-white mt-3">
        <div class="d-block d-lg-flex justify-content-lg-between align-items-center mt-2 mb-4">
            <span class=" mx-1 justify-content-start">Tìm thấy @Model.TotalRecord dịch vụ với từ khoá <span class="font-weight-bold">"@SearchString"</span></span>
            <div class="justify-content-md-end justify-content-left align-items-center d-block d-sm-flex paging">
                <span class="justify-content-end m-0 mx-1 numperpage">Số kết quả / Trang:</span>
                <select name="" onchange="SelectPageSize(this)" class="justify-content-end">
                    <option value="20" selected="@(pageSize == 20 ? "selected" : null)">20</option>
                    <option value="5" selected="@(pageSize == 5 ? "selected" : null)">5</option>
                    <option value="10" selected="@(pageSize == 10 ? "selected" : null)">10</option>
                    <option value="15" selected="@(pageSize == 15 ? "selected" : null)">15</option>
                    <option value="25" selected="@(pageSize == 25 ? "selected" : null)">25</option>
                    <option value="30" selected="@(pageSize == 30 ? "selected" : null)">30</option>
                </select>
                <nav aria-label="Page navigation " class="justify-content-sm-end justify-content-center mx-1">
                    <ul class="pagination m-0">
                        @Html.PagedListPager(ProductPaging, page => ("/Search/SearchProductPartialView?search=" + SearchString + "&typeSearch=" + TypeSearch + "&page=" + page),
                        new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" },
                            DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                            DisplayLinkToLastPage = X.PagedList.Web.Common.PagedListDisplayMode.Never,
                            MaximumPageNumbersToDisplay = 5,
                         }
                        )
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row m-0">
            @foreach (var item in Model.Data)
            {
                <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                    <div class="card">
                        <a href="@item.FullURL">
                            @*<div class="percent">30%</div>*@
                            <div class="image"><img class="card-img -top" src="@item.UrlImage" alt="@item.Name"></div>
                            <div class="card-body">
                                <h6 class="card-title">@item.Name</h6>
                                <div class="d-flex justify-content-between mt-1">
                                    <span class="d-flex address text-muted justify-content-start">@item.LocationName</span>
                                    <span class="d-flex time text-muted justify-content-end">@HNM.CommonNC.Utils.RenderTimeSince((DateTime)@item.LastEditDate)</span>
                                </div>
                                @if (item.Price > 0)
                                {
                                    <h4 class="price">@HNM.CommonNC.Utils.RenderPrice(item.Price) <span class="curency">đ</span></h4>
                                }
                                else
                                {
                                    <h4 class="price"> Liên hệ</h4>
                                }
                            </div>
                        </a>
                    </div>
                </div>
            }


        </div>
        <div class="d-block d-lg-flex justify-content-lg-between align-items-center mt-2 mb-4">
            <span class=" mx-1 justify-content-start">Tìm thấy @Model.TotalRecord dịch vụ với từ khoá <span class="font-weight-bold">"@SearchString"</span></span>
            <div class="justify-content-md-end justify-content-left align-items-center d-block d-sm-flex paging">
                <span class="justify-content-end m-0 mx-1 numperpage">Số kết quả / Trang:</span>
                <select name="" onchange="SelectPageSize(this)" class="justify-content-end">
                    <option value="20" selected="@(pageSize == 20 ? "selected" : null)">20</option>
                    <option value="5" selected="@(pageSize == 5 ? "selected" : null)">5</option>
                    <option value="10" selected="@(pageSize == 10 ? "selected" : null)">10</option>
                    <option value="15" selected="@(pageSize == 15 ? "selected" : null)">15</option>
                    <option value="25" selected="@(pageSize == 25 ? "selected" : null)">25</option>
                    <option value="30" selected="@(pageSize == 30 ? "selected" : null)">30</option>
                </select>
                <nav aria-label="Page navigation " class="justify-content-sm-end justify-content-center mx-1">
                    <ul class="pagination m-0">
                        @Html.PagedListPager(ProductPaging, page => ("/Search/SearchProductPartialView?search=" + SearchString + "&typeSearch=" + TypeSearch + "&page=" + page),
                        new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" },
                            DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                            DisplayLinkToLastPage = X.PagedList.Web.Common.PagedListDisplayMode.Never,
                            MaximumPageNumbersToDisplay = 5,
                         }
                        )
                    </ul>
                </nav>
            </div>
        </div>

    </div>
}
else
{
    <div class="article-content px-1 bg-white mt-3">
        <div class="d-block d-lg-flex justify-content-lg-between align-items-center mt-2 mb-4 text-center">
            <span class=" mx-1 justify-content-start">Không tìm thấy kết quả cho <span class="font-weight-bold">“@SearchString”</span></span>
        </div>
        <div class="row m-0">
            <div class="text-center search-notfound py-3">
                <lottie-player src="./json/search-empty.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop="" autoplay=""></lottie-player>
                <h5>Không có kết quả phù hợp.</h5>
                <p>Xin lỗi, chúng tôi không tìm thấy kết quả nào phù hợp với yêu cầu của bạn. Vui lòng kiểm tra lại từ khoá hoặc tìm kiếm sản phẩm khác!</p>
            </div>
        </div>
    </div>
}

<script>
    $(function () {

        var getPage = function () {
            var $a = $(this);
            var pageClick = $a.attr("href").split("page=")[1];

            ChangeUrl(pageClick, '@pageSize', '@TypeSearch', '@SearchString');
            var options = {
                url: $a.attr("href"),
                data: $("form").serialize(),
                type: "get"
            };

            $.ajax(options).done(function (response) {
                $(@TypeSearch == -1 ? '.searh-data-result' : '.category-panel').html(response);
            });
            return false;
        };


        $(".article-content").on("click", "ul.pagination li a", getPage);

    });

    function SelectPageSize(sel) {
         ChangeUrl('@pageCurrent', sel.value , '@TypeSearch', '@SearchString');
        SearchProductAjaxPartialView(@pageCurrent, sel.value);

    }
    function SearchProductAjaxPartialView(page, pageSize) {
        var q = $(".search-form input").val();
        $.ajax({
            type: "GET",
            url: "/Search/SearchProductPartialView?typeSearch="+@TypeSearch+"&page="+page+"&search=" + q + "&pageSize=" + pageSize,
            dataType: "html",
            success: function (response) {
                $(@TypeSearch == -1 ? '.searh-data-result' : '.category-panel').html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>