@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using Mono.Web
@model HNM.DataNC.ModelsNC.ModelsDTO.ProductDetailsDTO

@{
    ViewBag.Title = Model.ProductDetails.Name;
    var CategoryMenuHeader = ((HNM.DataNC.ModelsNC.ModelsDTO.ListProductCategoryDTO MenuMachine, HNM.DataNC.ModelsNC.ModelsDTO.ListProductCategoryDTO MenuMaterials, HNM.DataNC.ModelsNC.ModelsDTO.ListProductCategoryDTO MenuServices))ViewBag.CategoryMenuHeader;


    var ListProductAds = (HNM.DataNC.ModelsNC.ModelsDTO.SponsorBanner)ViewBag.ListProductAds;
    var ListProductByCate = (HNM.DataNC.ModelsNC.ModelsDTO.ProductPaggingDTO)ViewBag.ListProductByCate;
    var ListProductByProductBrand = (HNM.DataNC.ModelsNC.ModelsDTO.ProductPaggingDTO)ViewBag.ListProductByProductBrand;
    var ProductCategoryCurrent = (HNM.DataNC.ModelsNC.ModelsDTO.ProductCategoryDTO)ViewBag.ProductCategoryCurrent;
}
@{
    var MetaTags = (HNM.DataNC.Models.Setting)ViewBag.MetaTags;

    var MetaDes = "";
    if (String.IsNullOrEmpty(MetaDes))
    {
        MetaDes = @HttpUtility.HtmlDecode(@Configuration["DefaultKeyword"]);
    }
    else
    {
        if (MetaDes.Length > 300)
        {
            MetaDes = MetaDes.Substring(0, 300);
        }

    }
}
@section metatags{
    <title>@Model.ProductDetails.Name</title>
    <meta name="keywords" content="@(HttpUtility.HtmlDecode(MetaTags?.ToString()?? ""))" />
    <meta name="description" content="@(HttpUtility.HtmlDecode(MetaDes))" />
    <link id="canonical" rel="canonical" href="@Configuration["DomainName"]/@Model.ProductDetails.FullUrl" />


    <!-- META FOR FACEBOOK -->
    <meta property="og:title" itemprop="headline" content="@Model.ProductDetails.Name" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="@Configuration["DomainName"]/@Model.ProductDetails.FullUrl" />
    <meta property="og:image" itemprop="thumbnailUrl" content="@String.Format(" {0}{1}{2}", @Configuration["Cloud_Path"], "/product/mainimages/original/" , Model.ProductDetails.Image)" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />

    <!-- End Twitter Card -->
}
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/responsive.css" rel="stylesheet" />

<!-- Content -->
<section class="category">
    <article>
        <div class="d-flex banner align-items-center">
            @await Html.PartialAsync("../Shared/CategoryMenuHeader.cshtml")
            <nav aria-label="breadcrumb" class="col-12 col-sm-9 px-3 pl-lg-0 pr-lg-0">
                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="/ban-vat-tu">Vật tư để bán</a></li>
                    <li class="breadcrumb-item"><a href="@string.Format($" ban-vat-tu" + "-{0}.pcat" , ProductCategoryCurrent.URL)">@Model.ProductDetails.ProductCategoryName</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a>Chi tiết</a></li>
                </ol>
            </nav>
        </div>

    </article>

    <!-- Detail -->
    <article>
        <div class=" article-content bg-white d-block d-lg-flex mt-3 pt-3">
            <div class="col-12 col-lg-7 col-md-12 col-sm-12 prod-img pr-3 pr-lg-0">
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.ProductPictures)
                        {
                            <div class="swiper-slide"><div class="img-wrap"><img src="@item.UrlImage" /></div></div>
                        }
                    </div>
                    <div class="swiper-pagination paging-right"></div>
                    <div class="swiper-button-next swiper-button"></div>
                    <div class="swiper-button-prev swiper-button"></div>
                </div>
                <div class="swiper-container gallery-thumbs mt-2">
                    <div class="swiper-wrapper">

                        @foreach (var item in Model.ProductPictures)
                        {
                            <div class="swiper-slide"><div class="img-wrap"><img src="@item.UrlImage" /></div></div>
                        }
                    </div>
                    <!-- Add Scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
            <div class="col-12 col-lg-5 col-md-12 col-sm-12 prod-shop">
                <div class="product-name">
                    <h1>@Model.ProductDetails.Name</h1>
                </div>
                <div class="price-box mt-2">
                    @if (string.IsNullOrEmpty(Model.ProductDetails.Price) || Convert.ToDecimal(Model.ProductDetails.Price) <= 0)
                    {
                        <span class="regular-price">@HNM.CommonNC.Utils.RenderPrice(Model.ProductDetails.Price)<span class="curency"></span></span>
                    }
                    else
                    {
                        <span class="regular-price">@HNM.CommonNC.Utils.RenderPrice(Model.ProductDetails.Price) <span class="curency">đ</span> / @Model.ProductDetails.UnitName</span>
                    }
                </div>
                <div class="prod-info p-2 mt-2">
                    <table>
                        <tr><td>Hãng sản xuất:</td><td>@Model.ProductDetails.ProductManufactureName</td></tr>
                        @if (string.IsNullOrEmpty(Model.ProductDetails.Label))
                        {
                            <tr><td>Nhãn hiệu:</td><td>Không xác định</td></tr>
                        }
                        else
                        {
                            <tr><td>Nhãn hiệu:</td><td>@Model.ProductDetails.Label</td></tr>
                        }
                        @if (string.IsNullOrEmpty(Model.ProductDetails.SerialNumber))
                        {
                            <tr><td>Ký hiệu / Model:</td><td>Không xác định</td></tr>
                        }
                        else
                        {
                            <tr><td>Ký hiệu / Model:</td><td>@Model.ProductDetails.SerialNumber</td></tr>
                        }

                        @if (string.IsNullOrEmpty(Model.ProductDetails.PartNumber))
                        {
                            <tr><td>Serial / Part-number:</td><td>Không xác định</td></tr>
                        }
                        else
                        {
                            <tr><td>Serial / Part-number:</td><td>@Model.ProductDetails.PartNumber</td></tr>
                        }
                        @*<tr><td>Tình trạng:</td><td>@Model.ProductDetails.StatusMachine</td></tr>*@
                        <tr><td></td><td></td></tr>
                        @if (Model.ProductDetails.CountryName == null)
                        {
                            <tr><td>Xuất xứ:</td><td>Không xác định</td></tr>
                        }
                        else
                        {
                            <tr><td>Xuất xứ:</td><td>@Model.ProductDetails.CountryName</td></tr>
                        }
                        <tr><td>Thời gian đăng:</td><td>@(Convert.ToDateTime(Model.ProductDetails.LastEditDate).ToString("dd/MM/yyyy"))</td></tr>
                        <tr><td>Địa điểm:</td><td>@Model.ProductBrand.LocationName</td></tr>
                    </table>

                </div>
                <div class="com-info mt-2 border-top pt-2">
                    <div class="d-flex align-items-center">
                        <div class="col-2 px-0">
                            <a href="@String.Format(" {0}.brand", Model.ProductBrand.URL)">
                                <img src="@Model.ProductBrand.Logo" data-src="@Model.ProductBrand.UrlLogoImage" />
                            </a>
                        </div>
                        <div class="col-10 pl-2 pr-0">
                            <a href="@String.Format(" {0}.brand", Model.ProductBrand.URL)"><h4 class="card-title">@Model.ProductBrand.Name</h4></a>
                            <!-- offline class -->
                            <span class="status online">Đang online</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-top com-details mt-2">
                        <div class="col-3 px-0 border-right">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/vn.png" />
                            <span class="com-detail text-uppercase">VIET NAM</span>
                        </div>
                        <div class="col-3 pl-1 pr-0  border-right">
                            <span class="year">@HNM.CommonNC.Utils.YearJoinHanoma((DateTime)Model.ProductBrand.CreateDate)</span>
                            <span class="com-detail">NĂM</span>
                        </div>
                        <div class="col-3 pl-1 pr-0  border-right">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/big-com.png" />
                            @if (Model.ProductBrand.ProductBrandTypeID == 1)
                            {
                                <span class="com-detail  text-uppercase">NHÀ CUNG CẤP NHỎ</span>
                            }

                            @if (Model.ProductBrand.ProductBrandTypeID == 2)
                            {
                                <span class="com-detail  text-uppercase">NHÀ CUNG CẤP VỪA</span>
                            }

                            @if (Model.ProductBrand.ProductBrandTypeID == 3)
                            {
                                <span class="com-detail  text-uppercase">NHÀ CUNG CẤP LỚN</span>
                            }

                        </div>
                        <div class="col-3 pl-1 pr-0">
                            <span class="total-flow">200</span>
                            <span class="com-detail  text-uppercase">NGƯỜI THEO DÕI</span>
                        </div>
                    </div>
                </div>
                <div class="d-md-flex d-block align-items-center my-3">
                    <div class="call col-lg-6 col-md-6 col-sm-12 col-12 mb-2">
                        <a href="call:@Model.ProductDetails.SalePhone"><img src="./images/call.png" />@Model.ProductDetails.SalePhone</a>
                    </div>
                    <div class="message col-lg-6 col-md-6 col-sm-12 col-12 mb-2">
                        <a href="mail:@Model.ProductDetails.SalePhone"><img src="./images/message.png" />Nhắn tin</a>
                    </div>
                </div>


            </div>
        </div>

    </article>

    <article>
        <div class="article-content bg-white  mt-2 py-2">
            <div class="tab-header">
                <ul class="nav nav-tabs  " id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#detail" role="tab" aria-controls="detail" aria-selected="true">Mô tả chi tiết</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#suggest" role="tab" aria-controls="suggest" aria-selected="false">Thiết bị phù hợp</a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#suggest" role="tab" aria-controls="suggest" aria-selected="false"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#tag" role="tab" aria-controls="tag" aria-selected="false">Tag</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content col-12" id="myTabContent" style="clear: both;">
                <div class="tab-pane fade show active" id="detail" role="tabpanel" aria-labelledby="detail-tab">
                    <h3 class="my-2">Mô tả chi tiết sản phẩm</h3>
                    <p>
                        @Html.Raw(Model.ProductDetails.Content)
                    </p>
                </div>
                @*<div class="tab-pane fade" id="suggest" role="tabpanel" aria-labelledby="suggest-tab">
                        <h3 class="my-2">Thiết bị phù hợp</h3>
                        <ul class="d-flex flex-column match-prod">
                            <li><span class="model-name">Máy xúc đào bánh xích Hitachi</span> <span class="model">ZX870-5G</span> </li>
                            <li><span class="model-name">Máy xúc đào bánh xích </span> <span class="model">ZX870-5G</span> </li>
                            <li><span class="model-name">Máy xúc đào bánh xích Máy xúc đào bánh xích</span> <span class="model">ZX870-5G</span> </li>
                            <li><span class="model-name">Máy xúc đào bánh xích Hitachi  </span> <span class="model">ZX870-5G</span> </li>
                            <li><span class="model-name">Máy xúc đào bánh xích Hitachi</span> <span class="model">ZX870-5G</span> </li>

                        </ul>
                    </div>*@<div class="tab-pane fade" id="suggest" role="tabpanel" aria-labelledby="suggest-tab">
                    <h3 class="my-2"></h3>
                    <ul class="d-flex flex-column match-prod">
                        <li><span class="model-name"></span><span class="model"></span></li>
                        <li><span class="model-name"></span><span class="model"></span></li>
                        <li><span class="model-name"></span><span class="model"></span></li>
                        <li><span class="model-name"></span><span class="model"></span></li>
                        <li><span class="model-name"></span><span class="model"></span></li>

                    </ul>
                </div>
                <div class="tab-pane fade" id="tag" role="tabpanel" aria-labelledby="tag-tab">
                    <h3 class="my-2">Tag</h3>
                    @foreach (var item in Model.MetaKeyword)
                    {
                        <a class="tag mr-2" href="@string.Format(" {0}.ps", item.URL)">@item.Name</a>
                    }
                </div>
            </div>
        </div>
    </article>

    <!-- Sản phẩm được tài trợ -->
    <article class="red-style">
        @if (ListProductAds.DataSponsor.Count > 0)
        {
            <div class="article-header d-block d-lg-flex ">
                <div class="category-title text-uppercase col-12 col-lg-4 col-sm-12 pr-0  align-items-center d-block d-lg-flex">
                    <h3 class="title">Được tài trợ</h3>

                </div>
                <div class="navbar navbar-expand-lg category-menu col-12 col-lg-8 col-sm-12 d-block d-lg-flex  align-items-center">
                </div>
            </div>
            <div class="article-content p-2 products-container-layout1 swiper-container bg-white swiper-container-initialized swiper-container-horizontal">
                <div class="swiper-wrapper">
                    @foreach (var item in ListProductAds.DataSponsor)
                    {
                        <div class="swiper-slide" style="width: 210px; margin-right: 10px;">
                            <div class="card">
                                <a href="/@item.FullURL" class="d-flex flex-column">
                                    <div class="image"><div class="img" style="background-image:url('@item.UrlImage') "></div></div>
                                    <div class="card-body d-flex flex-column">
                                        <h6 class="card-title">@item.Name</h6>
                                        <div class="d-flex justify-content-between mt-1 mt-auto">
                                            <span class="d-flex address text-muted justify-content-start">@item.LocationName</span>
                                            <span class="d-flex time text-muted justify-content-end">@HNM.CommonNC.Utils.RenderTimeSince((DateTime)@item.LastEditDate)</span>
                                        </div>
                                        @if (item.Price > 0)
                                        {
                                            <h4 class="price">@HNM.CommonNC.Utils.RenderPrice(item.Price) <span class="curency">đ</span></h4>
                                        }
                                        else
                                        {
                                            <h4 class="price"> Liên hệ</h4>
                                        }
                                    </div>
                                </a>
                            </div>
                        </div>
                    }

                </div>
            </div>

        }
    </article>

    <div class="line-seprate">
        <div class="border-top border-bottom m-3 "></div>
    </div>

    <!-- San pham cung nha cung cap -->
    <article>
        <div class="article-header d-block d-lg-flex my-2">
            <div class="category-title text-uppercase col-12 col-lg-4 col-sm-12 pr-0  align-items-center d-block d-lg-flex">
                <h3 class="title">SẢN PHẨM CÙNG NHÀ CUNG CẤP</h3>

            </div>
            <div class="navbar navbar-expand-lg category-menu col-12 col-lg-8 col-sm-12 d-block d-lg-flex  align-items-center">

            </div>
        </div>

        <div class="article-banner d-flex ads-container mx-3 mt-3">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#"><img src="./images/article-banner1.jpg" /></a>
                </div>
                <div class="swiper-slide">
                    <a href="#"><img src="./images/article-banner3.jpg" /></a>
                </div>
                <div class="swiper-slide">
                    <a href="#"><img src="./images/article-banner2.jpg" /></a>
                </div>
            </div>
        </div>
        <div class="article-content p-2 mt-2 products-container swiper-container bg-white swiper-container-initialized swiper-container-horizontal swiper-container-multirow">
            <div class="swiper-wrapper">
                @foreach (var item in ListProductByProductBrand.Data)
                {
                    <div class="swiper-slide">
                        <div class="card">
                            <a href="/@item.FullURL" class="d-flex flex-column">
                                <div class="image"><div class="img" style="background-image:url('@item.UrlImage') "></div></div>
                                <div class="card-body d-flex flex-column">
                                    <h6 class="card-title">@item.Name</h6>
                                    <div class="d-flex justify-content-between mt-1 mt-auto">
                                        <span class="d-flex address text-muted justify-content-start">@item.LocationName</span>
                                        <span class="d-flex time text-muted justify-content-end">@HNM.CommonNC.Utils.RenderTimeSince((DateTime)@item.LastEditDate)</span>
                                    </div>
                                    @if (item.Price > 0)
                                    {
                                        <h4 class="price">@HNM.CommonNC.Utils.RenderPrice(item.Price) <span class="curency">đ</span></h4>
                                    }
                                    else
                                    {
                                        <h4 class="price"> Liên hệ</h4>
                                    }
                                </div>
                            </a>
                        </div>
                    </div>
                }

            </div>
        </div>

    </article>

    <div class="line-seprate">
        <div class="border-top border-bottom m-3 "></div>
    </div>

    <!-- San pham tuong tu -->
    @if (ListProductByCate.Data.Count() > 0)
    {
        <article>
            <div class="article-header d-block d-lg-flex my-2">
                <div class="category-title text-uppercase col-12 col-lg-4 col-sm-12 pr-0  align-items-center d-block d-lg-flex">
                    <h3 class="title">Sản phẩm tương tự</h3>

                </div>
                <div class="navbar navbar-expand-lg category-menu col-12 col-lg-8 col-sm-12 d-block d-lg-flex  align-items-center">

                </div>
            </div>

            <div class="article-banner d-flex ads-container mx-3 mt-3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#"><img src="./images/article-banner1.jpg" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"><img src="./images/article-banner3.jpg" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"><img src="./images/article-banner2.jpg" /></a>
                    </div>
                </div>
            </div>

            <div class="article-content p-2 mt-2 products-container swiper-container bg-white swiper-container-initialized swiper-container-horizontal swiper-container-multirow">
                <div class="swiper-wrapper">
                    @foreach (var item in ListProductByCate.Data)
                    {
                        <div class="swiper-slide">
                            <div class="card">
                                <a href="/@item.FullURL" class="d-flex flex-column">
                                    <div class="image"><div class="img" style="background-image:url('@item.UrlImage') "></div></div>
                                    <div class="card-body d-flex flex-column">
                                        <h6 class="card-title">@item.Name</h6>
                                        <div class="d-flex justify-content-between mt-1 mt-auto">
                                            <span class="d-flex address text-muted justify-content-start">@item.LocationName</span>
                                            <span class="d-flex time text-muted justify-content-end">@HNM.CommonNC.Utils.RenderTimeSince((DateTime)@item.LastEditDate)</span>
                                        </div>
                                        @if (item.Price > 0)
                                        {
                                            <h4 class="price">@HNM.CommonNC.Utils.RenderPrice(item.Price) <span class="curency">đ</span></h4>
                                        }
                                        else
                                        {
                                            <h4 class="price"> Liên hệ</h4>
                                        }
                                    </div>
                                </a>
                            </div>
                        </div>
                    }

                </div>
            </div>


        </article>
    }


    <div class="line-seprate">
        <div class="border-top border-bottom m-3 "></div>
    </div>

    <article>

        <div class="article-banner d-flex ads-container mx-3 mt-3">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#"><img src="./images/article-banner1.jpg" /></a>
                </div>
                <div class="swiper-slide">
                    <a href="#"><img src="./images/article-banner3.jpg" /></a>
                </div>
                <div class="swiper-slide">
                    <a href="#"><img src="./images/article-banner2.jpg" /></a>
                </div>
            </div>
        </div>
    </article>


</section>

<script src="~/js/jquery-3.3.1.min.js"></script>
<script type="application/ld+json">
    {
    "@@context": "https://schema.org/",
    "@@type": "Product",
    "name": "@Html.Raw(HttpUtility.HtmlDecode(Model.ProductDetails.Name))",
    "image": [
    "http://cdn.hanoma.vn/product/mainimages/original/@Model.ProductDetails.Image"
    ],
    "description": "@Html.Raw(HttpUtility.HtmlDecode((Model.ProductDetails.Description != null && Model.ProductDetails.Description.Length > 1) ? Model.ProductDetails.Description?.Replace('"', ' ').Replace('\\', ' ') : Model.ProductDetails.Name))",
    "sku": "@Model.ProductDetails.Product_ID",
    "mpn": "@Model.ProductDetails.Product_ID",
    "brand": {
    "@@type": "Thing",
    "name": "@Html.Raw(HttpUtility.HtmlDecode(Model.ProductDetails.SaleName))"
    },
    "review": {
    "@@type": "Review",
    "reviewRating": {
    "@@type": "Rating",
    "ratingValue": "4",
    "bestRating": "5"
    },
    "author": {
    "@@type": "Person",
    "name": "Fred Benson"
    }
    },
    "aggregateRating": {
    "@@type": "AggregateRating",
    "ratingValue": "4.4",
    "reviewCount": "89"
    },
    "offers": {
    "@@type": "Offer",
    "url": "http://hanoma.vn/@Model.ProductDetails.FullUrl",
    "priceCurrency": "VND",
    "price": "@Model.ProductDetails.Price",
    "priceValidUntil": "@Model.ProductDetails.LastEditDate",
    "itemCondition": "https://schema.org/UsedCondition",
    "availability": "https://schema.org/InStock",
    "seller": {
    "@@type": "Organization",
    "name": "@Html.Raw(HttpUtility.HtmlDecode(Model.ProductDetails.SaleName))"
    }
    }
    }
</script>