@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using Mono.Web
@model HNM.DataNC.ModelsNC.ModelsDTO.ProductDetailsDTO

@{
    var CategoryMenuHeader = (List<HNM.DataNC.ModelsNC.ModelsDTO.ListAllProductCategoryDTO>)ViewBag.CategoryMenuHeader;

    var ListProductAds = (HNM.DataNC.ModelsNC.ModelsDTO.SponsorBanner)ViewBag.ListProductAds;
    var ListProductByCate = (HNM.DataNC.ModelsNC.ModelsDTO.ProductPaggingDTO)ViewBag.ListProductByCate;
    var ListProductByProductBrand = (HNM.DataNC.ModelsNC.ModelsDTO.ProductPaggingDTO)ViewBag.ListProductByProductBrand;
    var ProductCategoryCurrent = (HNM.DataNC.ModelsNC.ModelsDTO.ProductCategoryDTO)ViewBag.ProductCategoryCurrent;
}
@{

    ViewBag.Title = Model.ProductDetails.Name;
    var MetaTags = (HNM.DataNC.Models.Setting)ViewBag.MetaTags;

    var MetaDes = "";
    if (String.IsNullOrEmpty(MetaDes))
    {
        MetaDes = @HttpUtility.HtmlDecode(@Configuration["DefaultKeyword"]);
    }
    else
    {
        if (MetaDes.Length > 300)
        {
            MetaDes = MetaDes.Substring(0, 300);
        }

    }
}
@section metatags{
    <title>@Model.ProductDetails.Name</title>
    <meta name="keywords" content="@(HttpUtility.HtmlDecode(MetaTags?.ToString()?? ""))" />
    <meta name="description" content="@(HttpUtility.HtmlDecode(MetaDes))" />
    <link id="canonical" rel="canonical" href=$"@Configuration["DomainName"]/{ @Model.ProductDetails.FullUrl}" />


    <!-- META FOR FACEBOOK -->
    <meta property="og:title" itemprop="headline" content="@Model.ProductDetails.Name" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="@Configuration[" DomainName"] /@Model.ProductDetails.FullUrl" />
    <meta property="og:image" itemprop="thumbnailUrl" content="@String.Format(" {0}{1}{2}", @Configuration["Cloud_Path"], "/product/mainimages/original/" , Model.ProductDetails.Image)" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />

    <!-- End Twitter Card -->
}
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/responsive.css" rel="stylesheet" />
<style>
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 110px;
  right: 20px;
  color: red;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index:999;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
</style>
<!-- Content -->
<section class="category">
    <article>
        <div class="d-flex banner align-items-center">
            @await Html.PartialAsync("../Shared/CategoryMenuHeader.cshtml")
            <nav aria-label="breadcrumb" class="col-12 col-sm-9 px-3 pl-lg-0 pr-lg-0">
                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="@string.Format($" ban" + "-{0}.pcat" , ProductCategoryCurrent.URL)">@Model.ProductDetails.ProductCategoryName</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a>Chi tiết</a></li>
                </ol>
            </nav>
        </div>

    </article>

    <!-- Detail -->
    <article>
        <div class=" article-content bg-white d-block d-lg-flex mt-3 pt-3">
            <div class="col-12 col-lg-7 col-md-12 col-sm-12 prod-img pr-3 pr-lg-0">
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.ProductPictures)
                        {
                            <div class="swiper-slide"><div class="img-wrap"><img id="@item.ProductPicture_ID" onclick="javascript:OnClickImgDetail('@item.ProductPicture_ID')" src="@item.UrlImage" alt="@Model.ProductDetails.Name"/></div></div>
                        }
                    </div>
                    <div class="swiper-pagination paging-right"></div>
                    <div class="swiper-button-next swiper-button"></div>
                    <div class="swiper-button-prev swiper-button"></div>
                </div>
                <div class="swiper-container gallery-thumbs mt-2">
                    <div class="swiper-wrapper">

                        @foreach (var item in Model.ProductPictures)
                        {
                            <div class="swiper-slide"><div class="img-wrap"><img id="@item.ProductPicture_ID" onclick="javascript:OnClickImgDetail('@item.ProductPicture_ID')"  src="@item.UrlImage" alt="@Model.ProductDetails.Name"/></div></div>
                        }
                    </div>
                    <!-- Add Scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
            <div class="col-12 col-lg-5 col-md-12 col-sm-12 prod-shop">
                <div class="product-name">
                    <h1>@Model.ProductDetails.Name</h1>
                </div>
                <div class="price-box mt-2">
                    @if (string.IsNullOrEmpty(Model.ProductDetails.Price) || Convert.ToDecimal(Model.ProductDetails.Price) <= 0)
                    {
                        <span class="regular-price">@HNM.CommonNC.Utils.RenderPrice(Model.ProductDetails.Price)<span class="curency"></span></span>
                    }
                    else
                    {
                        <span class="regular-price">@HNM.CommonNC.Utils.RenderPrice(Model.ProductDetails.Price) <span class="curency">đ</span> / @Model.ProductDetails.UnitName</span>
                    }
                </div>
                <div class="prod-info p-2 mt-2">
                    <table>


                        @if (Model.ProductDetails.StatusMachine == null)
                        {
                            <tr><td>Tình trạng:</td><td>Không xác định</td></tr>
                        }
                        else
                        {
                            <tr><td>Tình trạng:</td><td>@Model.ProductDetails.StatusMachine</td></tr>
                        }

                        <tr><td>Xuất xứ:</td><td>Đá Ninh Bình Vinh Quang</td></tr>

                        <tr><td>Thời gian đăng:</td><td>@(Convert.ToDateTime(Model.ProductDetails.LastEditDate).ToString("dd/MM/yyyy"))</td></tr>

                        <tr><td>Địa điểm:</td><td>Làng đá mỹ nghệ Ninh Vân</td></tr>



                    </table>

                </div>
                <div class="com-info mt-2 border-top pt-2">
                    <div class="d-flex align-items-center">
                        <div class="col-2 px-0">
                            <a href="@String.Format(" {0}.brand", Model.ProductBrand.URL)">
                                <img src="@Model.ProductBrand.Logo" data-src="@Model.ProductBrand.UrlLogoImage" />
                            </a>
                        </div>
                        <div class="col-10 pl-2 pr-0">
                            <a href="@String.Format(" {0}.brand", Model.ProductBrand.URL)"><h4 class="card-title">@Model.ProductBrand.Name</h4></a>
                            <!-- offline class -->
                            <span class="status online">Đang online</span>
                        </div>
                    </div>

                </div>
                <div class="d-md-flex d-block align-items-center my-3">
                    <div class="call col-lg-6 col-md-6 col-sm-12 col-12 mb-2">
                        <a href="tel:@Model.ProductDetails.SalePhone"><img src="./images/call.png" />@Model.ProductDetails.SalePhone</a>
                    </div>
                    <div class="message col-lg-6 col-md-6 col-sm-12 col-12 mb-2">
                        <a href="#"><img src="./images/cart16.png" />Thêm giỏ hàng</a>
                    </div>
                </div>


            </div>
        </div>

    </article>

    <article>
        <div class="article-content bg-white  mt-2 py-2">
            <div class="tab-header">
                <ul class="nav nav-tabs  " id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#detail" role="tab" aria-controls="detail" aria-selected="true">Mô tả chi tiết</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#suggest" role="tab" aria-controls="suggest" aria-selected="false">Thiết bị phù hợp</a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#suggest" role="tab" aria-controls="suggest" aria-selected="false"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#suggest" role="tab" aria-controls="suggest" aria-selected="false"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#tag" role="tab" aria-controls="tag" aria-selected="false">Tag</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content col-12" id="myTabContent" style="clear: both;">
                <div class="tab-pane fade show active" id="detail" role="tabpanel" aria-labelledby="detail-tab">
                    <h3 class="my-2">Mô tả chi tiết sản phẩm</h3>
                    <p>
                        @Html.Raw(Model.ProductDetails.Content)
                    </p>
                </div>
                @*<div class="tab-pane fade" id="suggest" role="tabpanel" aria-labelledby="suggest-tab">
                        <h3 class="my-2">Thiết bị phù hợp</h3>
                        <ul class="d-flex flex-column match-prod">
                            <li><span class="model-name">Máy xúc đào bánh xích Hitachi</span> <span class="model">ZX870-5G</span> </li>
                            <li><span class="model-name">Máy xúc đào bánh xích </span> <span class="model">ZX870-5G</span> </li>
                            <li><span class="model-name">Máy xúc đào bánh xích Máy xúc đào bánh xích</span> <span class="model">ZX870-5G</span> </li>
                            <li><span class="model-name">Máy xúc đào bánh xích Hitachi  </span> <span class="model">ZX870-5G</span> </li>
                            <li><span class="model-name">Máy xúc đào bánh xích Hitachi</span> <span class="model">ZX870-5G</span> </li>

                        </ul>
                    </div>*@<div class="tab-pane fade" id="suggest" role="tabpanel" aria-labelledby="suggest-tab">
                    <h3 class="my-2"></h3>
                    <ul class="d-flex flex-column match-prod">
                        <li><span class="model-name"></span><span class="model"></span></li>
                        <li><span class="model-name"></span><span class="model"></span></li>
                        <li><span class="model-name"></span><span class="model"></span></li>
                        <li><span class="model-name"></span><span class="model"></span></li>
                        <li><span class="model-name"></span><span class="model"></span></li>

                    </ul>
                </div><div class="tab-pane fade" id="suggest" role="tabpanel" aria-labelledby="suggest-tab">
                    <h3 class="my-2"></h3>
                    <ul class="d-flex flex-column match-prod">
                        <li><span class="model-name"></span><span class="model"></span></li>
                        <li><span class="model-name"></span><span class="model"></span></li>
                        <li><span class="model-name"></span><span class="model"></span></li>
                        <li><span class="model-name"></span><span class="model"></span></li>
                        <li><span class="model-name"></span><span class="model"></span></li>

                    </ul>
                </div>
                <div class="tab-pane fade" id="tag" role="tabpanel" aria-labelledby="tag-tab">
                    <h3 class="my-2">Tag</h3>
                    @foreach (var item in Model.MetaKeyword)
                    {
                        <a class="tag mr-2" href="@string.Format(" {0}.ps", item.URL)">@item.Name</a>
                    }
                </div>
            </div>
        </div>
    </article>

    <!-- Sản phẩm được tài trợ -->
    <article class="red-style">
        @if (ListProductAds.DataSponsor.Count > 0)
        {
            <div class="article-header d-block d-lg-flex ">
                <div class="category-title text-uppercase col-12 col-lg-4 col-sm-12 pr-0  align-items-center d-block d-lg-flex">
                    <h3 class="title">Được tài trợ</h3>

                </div>
                <div class="navbar navbar-expand-lg category-menu col-12 col-lg-8 col-sm-12 d-block d-lg-flex  align-items-center">
                </div>
            </div>
            <div class="article-content p-2 products-container-layout1 swiper-container bg-white swiper-container-initialized swiper-container-horizontal">
                <div class="swiper-wrapper">
                    @foreach (var item in ListProductAds.DataSponsor)
                    {
                        <div class="swiper-slide" style="width: 210px; margin-right: 10px;">
                            <div class="card">
                                <a href="/@item.FullURL" class="d-flex flex-column">
                                    <div class="image"><div class="img" style="background-image:url('@item.UrlImage') "></div></div>
                                    <div class="card-body d-flex flex-column">
                                        <h6 class="card-title">@item.Name</h6>
                                        <div class="d-flex justify-content-between mt-1 mt-auto">
                                            <span class="d-flex address text-muted justify-content-start">@item.LocationName</span>
                                            @if (item.LastEditDate != null)
                                            {
                                                <span class="d-flex time text-muted justify-content-end">@HNM.CommonNC.Utils.RenderTimeSince((DateTime)@item.LastEditDate)</span>
                                            }
                                        </div>
                                        @if (item.Price > 0)
                                        {
                                            <h4 class="price">@HNM.CommonNC.Utils.RenderPrice(item.Price) <span class="curency">đ</span></h4>
                                        }
                                        else
                                        {
                                            <h4 class="price"> Liên hệ</h4>
                                        }
                                    </div>
                                </a>
                            </div>
                        </div>
                    }

                </div>
            </div>

        }
    </article>

    <div class="line-seprate">
        <div class="border-top border-bottom m-3 "></div>
    </div>



</section>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    function OnClickImgDetail(productPicId) {
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById(productPicId);
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");

        modal.style.display = "block";
        modalImg.src = img.src;
        captionText.innerHTML = img.alt;

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    }
</script>
<script type="application/ld+json">
    {
    "@@context": "https://schema.org/",
    "@@type": "Product",
    "name": "@Html.Raw(HttpUtility.HtmlDecode(Model.ProductDetails.Name))",
    "image": [
    "http://cdn.hanoma.vn/product/mainimages/original/@Model.ProductDetails.Image"
    ],
    "description": "@Html.Raw(HttpUtility.HtmlDecode((Model.ProductDetails.Description != null && Model.ProductDetails.Description.Length > 1) ? Model.ProductDetails.Description?.Replace('"', ' ').Replace('\\', ' ') : Model.ProductDetails.Name))",
    "sku": "@Model.ProductDetails.Product_ID",
    "mpn": "@Model.ProductDetails.Product_ID",
    "brand": {
    "@@type": "Thing",
    "name": "@Html.Raw(HttpUtility.HtmlDecode(Model.ProductDetails.SaleName))"
    },
    "review": {
    "@@type": "Review",
    "reviewRating": {
    "@@type": "Rating",
    "ratingValue": "4",
    "bestRating": "5"
    },
    "author": {
    "@@type": "Person",
    "name": "Fred Benson"
    }
    },
    "aggregateRating": {
    "@@type": "AggregateRating",
    "ratingValue": "4.4",
    "reviewCount": "89"
    },
    "offers": {
    "@@type": "Offer",
    "url": "http://hanoma.vn/@Model.ProductDetails.FullUrl",
    "priceCurrency": "VND",
    "price": "@Model.ProductDetails.Price",
    "priceValidUntil": "@Model.ProductDetails.LastEditDate",
    "itemCondition": "https://schema.org/UsedCondition",
    "availability": "https://schema.org/InStock",
    "seller": {
    "@@type": "Organization",
    "name": "@Html.Raw(HttpUtility.HtmlDecode(Model.ProductDetails.SaleName))"
    }
    }
    }
</script>